.addBooks{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.form-input{
    width: 500px;
    height: 800px;
    background-color: aliceblue;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 
}
form input{
    width:400px;
}
form button{
    margin-left:70px;
    background-color: black;
    color: white;
}
